extends ../layout

block content
  h1 Welcome #{user}

  a(href='/user/send')='add new article'
  br

  h2=(user==='Admin') ? 'All articles' : 'Your articles'

  table
    tr
      th id
      th title
      th date
      th visibility
      th action
    
    each item, index in data
      tr
        td=index+1
        td=item.title
        td=item.date.toLocaleString('en-US', dateFormat)
        td=item.show ? 'yes' : 'no'
        td
          a(href=`/user/delete/${item._id}`)='delete'
 
  br
  br
  a(href='/logout')='logout'

  